.colorpicker {
    margin-top: 2rem;
    margin-bottom: 2rem;
    &_block{
        height:400px;
        transition: all 5s;
        position: relative;
    }
    &_name{
        fron-size :3 rem;
        font-weight :bold;
        color :white;
        font-family:Arial;
        position: absolute;
        bottom : 1rem;
        left : 1 rem;
    }
}