.card{
    background-color: white;
    border: 1px solid gray;
    padding: 1rem;
    max-width:400px;
    text-align: center;
    font-family: Airal;

    &__container {
        position:relative;
        max-width:400px;


    }

    
    &__haedshot {
        width :100px;
        height:auto;
        border-radius: 50px;
        border:1px solid lightgrey;



    }
    &__name {
        font-family: Airal;
        font-size:1.5rem;
        font-weight: bold;

    }
    &__job{
      
        font-size:1rem;
        font-weight:400;


    
    }

    &__arrow__left{
        background-color: red;
        border:0;
        width:3rem;
        height:3em;
        position:absoulte;
        top:50%;
        left:-0.5rem;
        transform:translateY(-50%);
        cursor:pointer;




    }
    &__arrow__right{
        background-color: red;
        border:0;
        width:3rem;
        height:3rem;
        position:absoulte;
        top:50%;
        right:-0.5rem;
        transform:translateY(-50%);
        cursor:pointer;



    }




}